<h1>Trail Search</h1>

<%= form_tag pages_path, :method => 'get' do %>
    <%= text_field_tag :photo, params[:photo] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<br>
Not sure which trail you want? Try <%= link_to "Boogerman Loop" , pages_path(photo: "boogermanloop") %>

<hr>

<h2><%= @photo["data"][0]["caption"]["text"] %></h2>
<%= image_tag @photo["data"][0]["images"]["thumbnail"]["url"] %>

<br>
